/* Startup1 */

position: relative;
width: 390px;
height: 843px;

background: #FFFFFF;


/* Rectangle 9 */

position: absolute;
width: 390px;
height: 717px;
left: 0px;
top: 63px;

background: #2B6447;


/* card-text */

position: absolute;
width: 294px;
height: 95px;
left: 48px;
top: 543px;

font-family: 'Noto Sans TC';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 70px;
text-align: center;

color: #FFFFFF;



/* Rectangle 10 */

position: absolute;
width: 390px;
height: 63px;
left: 0px;
top: 0px;

background: #4A3113;


/* Rectangle 11 */

position: absolute;
width: 390px;
height: 63px;
left: 0px;
top: 780px;

background: #4A3113;


/* sad-face 1 */

position: absolute;
width: 124px;
height: 124px;
left: 133px;
top: 299px;

background: url(sad-face.png);


/* card-text */

position: absolute;
width: 88px;
height: 19px;
left: 151px;
top: 422px;

font-family: 'Noto Sans Tamil UI';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
text-align: center;

color: #FFFFFF;

