/* seal */
.seal {

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 15px 0px;
    gap: 10px;

    position: absolute;
    width: 65px;
    height: 65px;
    left: -25px;
    bottom: -35px;

    border: 3px solid #000000;
    border-radius: 150px;
    transform: rotate(28deg);
}

.seal-icon {
    position: absolute;
    width: 60px;
    height: 50px;
    /* left: -15px; */
    top: 4px;
}