/* wish */
.wish {
    /* display: flex; */
    flex-direction: row;
    align-items: flex-start;
    padding: 5px 0px;
    gap: 0px;
    position: absolute;
    width: 310px;
    height: 130px;
    left: 35px;
    top: 258px;
    
    }

    /* left-quotation */
    .left-quotation {
    
    width: 8px;
    height: 100px;
    right: 319px;
    top: 0px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    /* or 100% */
    text-align: center;
    
    color: #000000;
    
    /* border: 0.3px solid #FFFFFF; */
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    
    }

    /* wish-text */
    .wish-text {
    
    width: 80%;
    height: 125px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

    /* left: 22px;
    right: 14px;
    top: 0px; */
    /* bottom: 17px; */
    
    font-family: 'Inria Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    
    color: #000000;
    
    /* border: 0.3px solid #FFFFFF; */

    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    
    }

    /* right-quotation */
    .right-quotation {
    
    width: 8px;
    height: 140px;
  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 0px;
    /* or 0% */
    display: flex;
    align-items: flex-end;
    text-align: center;
    
    color: #000000;
    
    /* border: 0.3px solid #FFFFFF; */

     /* Inside auto layout */
     flex: none;
     order: 2;
     align-self: stretch;
     flex-grow: 0;
 
    }
    